.body {
    background-color: rgb(238, 238, 238);
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    gap: 40px;
}
.body.active {
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.header {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: #ff5a00;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.header a {
    text-decoration: none;
    color: #ff5a00;
}

.header_logotype {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.logo {
    display: flex;
    align-items: center;
    font-size: 70px;
    margin-bottom: 25px;
    margin-top: 0;
    line-height: 100%;
}

.text_for_logo {
    font-size: 34px;
    font-weight: 600;
    margin: 0;
}

.wrapper_basket-total {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.header_price p {
    margin: 0;
    font-size: 26px;
    font-weight: 600;
}

.header_basket {
    position: relative;
    z-index: 1;
}

.basket {
    cursor: pointer;
}

.basket svg {
    width: 60px;
    height: 60px;
    fill: #ff5a00;
}

.header_basket_count-product {
    position: absolute;
    left: 45px;
    top: 30px;
    font-size: 20px;
    text-align: center;
    width: 35px;
    z-index: 15;
    border-radius: 50%;
    border: 1px solid #ff5a00;
    box-shadow: 0 0px 10px #ff5900;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.header-product {
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    color: #ff5a00;
    font-size: 28px;
    font-weight: 600;
}

.product {
    width: 80%;
    background-color: #fff;
    border: 3px solid #ff5a00;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    padding-bottom: 35px;
}

.product_header {
    width: 100%;
    box-shadow: 0 1px 30px #ff590027;
    text-align: center;
}

.product_header h2{
    margin: 10px 0;
    color: #ff5900;
}

.product_block {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 15px;
}

.product_images-description {
    display: flex;
    flex-direction: row;
    width: 80%;
    gap: 15px;
}

.product_images {
    display: flex;
    flex-direction: row;
    width: 50%;
    gap: 10px;
}

.product_images img {
    border-radius: 10px;
    border: 2px solid #ff5a00;
    box-sizing: border-box;
    /* display: block; */
    vertical-align: bottom;
    float: right;
}

.product_images_list-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 20%;
}

.product_images_list-image img {
    width: 90%;
    cursor: pointer;
}

.product_images_show-image {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 80%;
}

.product_images_show-image img {
    width: 100%;
    display: block;
}


.product_description {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.property {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    border: 2px solid #ff5a00;
}

.property h3{
    color: #ff5900;
    width: 100%;
    background-color: #ff59000a;
}
.property h3,
.property p {
    margin: 0;
    padding: 4px 0;
    text-align: center;
}

.product_buy {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    gap: 20px;
    color: #ff5900cb;
    font-size: 34px;
    font-weight: 600;
    margin-bottom: 100px;
}

.button {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    align-items: center;
}

.product_buy button {
    width: 90%;
    background-color: #ff59000a;
    border-radius: 5px;
    border: 3px solid #ff5900;
    padding: 10px;
    color: #ff5900;
    font-weight: 600;
    cursor: pointer;
}



.footer {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: #ff5a00;
    font-size: 30px;
    box-shadow: 0 -8px 16px rgba(0,0,0,0.2);
}

.footer a {
    text-decoration: none;
}

.social-link img {
    max-height: 40px;
  }
  
  .github-icon1,
  .github-icon2 {
    height: 40px;
  }
  
  .social-link {
    opacity: .8;
    cursor: pointer;
    transition: all .5s ease-in-out;
    background-color: unset;
  }
  
  .social-link:hover {
    transform: scale(1.1);
    opacity: 1;
  }
@media (max-width: 1300px) {
    .product {
        width: 90%;
    }
}

@media (max-width: 1100px) {
    .product {
        width: 95%;
    }
}


@media (max-width: 1000px) {
    .logo {
        font-size: 50px;
        margin-bottom: 20px;
    }
    .text_for_logo {
        font-size: 28px;
    }


    .header_price p {
        font-size: 20px;
    }

    .basket svg {
        width: 40px;
        height: 40px;
    }
    .header_basket_count-product {
        left: 30px;
        top: 20px;
        font-size: 16px;
        width: 30px;
    }

    .header-product {
        width: 85%;
        font-size: 20px;
    }

    .product {
        padding-bottom: 15px;
    }

    .product_block {
        flex-direction: column;
        padding: 0 10px;
        box-sizing: border-box;
    }

    .product_images-description {
        width: 100%;
    }
    .product_buy {
        flex-direction: row;
        width: 77%;
        margin-bottom: 0;
        justify-content: center;
    }
    .button {
        flex-direction: row;
    }
    .product_buy p {
        margin: 0;
    }

    .product_buy button {
        width: 50%;
    }
}

@media (max-width: 800px) {
    .wrapper_basket-total {
        gap: 20px;
    }
    .header-product {
        width: 90%;
        font-size: 18px;
    }
    .product_images {
        flex-direction: column;
        justify-content: flex-start;
        gap: 45px;
    }

    .product_images_show-image {
        width: 100%;
        order: 1;
    }
    .product_images_show-image img {
        margin: 0;
    }

    .product_images_list-image {
        width: 100%;
        flex-direction: row;
        order: 2;
        gap: 5px;
        justify-content: center;
    }
    .product_images_list-image img{
        width: 19%;
        height: 100%;
    }
}

@media (max-width: 600px) {
    .wrapper_basket-total {
        flex-direction: column;
        white-space: nowrap;
        gap: 20px;
    }
    .header-product {
        width: 95%;
        font-size: 16px;
        gap: 15px;
    }

    .product_images-description {
        flex-direction: column;
    }

    .product_images {
        width: 100%;
    }

    .product_description {
        width: 100%;
    }

    .product_buy {
        width: 100%;
        flex-direction: column;
    }

    .product_buy button {
        width: 50%;
    }
    .footer {
        font-size: 24px;
    }
    .social-link img {
        max-height: 32px;
      }
}
@media (max-width: 500px) {
    .header {
        padding: 10px 0;
    }
    .wrapper_basket-total {
        gap: 5px;
    }
    .header-product {
        width: 97%;
        font-size: 14px;
        gap: 10px;
    }
}
@media (max-width: 400px) {
    .header-product {
        font-size: 13px;
        gap: 5px;
    }
    .footer {
        font-size: 18px;
    }
    .social-link img {
        max-height: 28px;
      }
}
